<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BaiduSuite" verbose="1" thread-count="2" parallel="tests">
    <listeners>

    </listeners>
    <test name="ChromeBrowser">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="com.zhongyu.test.WebTest"/>
        </classes>
    </test>
    <test name="FirefoxBrowser">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="com.zhongyu.test.WebTest"/>
        </classes>
    </test>
</suite>
